@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lora;
  src: url('../fonts/Lora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lora;
  src: url('../fonts/Lora-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #1d1d1b;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: #636363;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.h2 {
  font-size: 36px;
  font-family: 'Lora', serif;

  span {
    color: #26c4cc;
  }
}

h3 {
  font-size: 30px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

p {
  color: #8e8c8c;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.button {
  padding: 22px 42px;
  background-color: rgb(255, 210, 0);
  box-shadow: 0px 1px 14.25px 0.75px rgba(0, 0, 0, 0.17);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 40px;
  border: none;
  min-width: 252px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: rgba(255, 210, 0, 0.8);
  }

  &--small {
    min-width: 146px;
    padding: 10px 25px;
    font-size: 14px;
  }
  &--icon {
    padding-left: 46px;
    background-image: url(../img/contract.png);
    background-position: 15px 50%;
    background-repeat: no-repeat;
  }
}

.main {
  flex-grow: 2;
  position: relative;

  &__banner {
    background: #eff7f7;
  }
}

.grid {
  width: 1200px;
  margin: 0 auto;
  position: relative;

  @media(max-width: 1199px) {
    width: 970px;
  }
  @media(max-width: 991px) {
    width: 750px;
  }
  @media(max-width: 767px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.flex {
  display: flex;

  &--col {
    flex-direction: column;
  }

  &--sb {
    justify-content: space-between;
  }
  &--aic {
    align-items: center;
  }
  &--jcc {
    justify-content: center;
  }
  &--w {
    flex-wrap: wrap;
  }
  &--js {
    justify-content: flex-start;
  }
  &--ais {
    align-items: flex-start;
  }
}

.text-center {
  text-align: center;
}

.header {
  padding-top: 17px;

  &__inner {
    min-height: 93px;

    @media(max-width: 1199px) {
    }
    @media(max-width: 991px) {
      flex-direction: column;
      align-items: center;
    }
    @media(max-width: 767px) {

    }
  }
  &__nav {
    padding-left: 75px;

    @media(max-width: 991px) {
      padding-left: 0;
    }
  }
  &__contacts {
    padding-right: 57px;

    @media(max-width: 991px) {
      padding-right: 0;
      margin-bottom: 10px;
    }
  }
}

.footer {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

  &__inner {

    @media(max-width: 991px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .phone {
    font-size: 25px;
    margin-left: 15px;
  }

}

.nav {

  &__item {
    margin-right: 25px;
    margin-left: 25px;

    @media(max-width: 767px) {
      margin-right: 10px;
      margin-left: 10px;
  }
  }

  @media(max-width: 991px) {
    margin-bottom: 20px;
    margin-top: 30px;
  }
}

.phone {
  font-weight: 500;
  font-size: 20px;

  &__code {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 300;
  }
}

.pattern {
  opacity: 0.07;
  background: url(../img/pattern.jpg);
  background-size: 375px;
  background-position: 15px -27px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.main-banner {
  overflow: hidden;
  position: relative;
  min-height: 585px;

  &__image {
    width: 734px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 49%;
    z-index: 2;

    @media(max-width: 1199px){
      width: 200px;
      height: 200px;
      left: 0;
    }
  }
  &__circle {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -108px;
    left: 0;

    img {
      width: 100%;
      object-fit: contain;
    }

    @media(max-width: 1199px){
      bottom: -50px;
    }
  }
  &__photo {
    position: absolute;
    bottom: -48px;
    left: 50%;
    transform: translateX(-52%);
    width: 70%;
    max-width: 507px;

    img {
      width: 100%;
      object-fit: contain;
    }
    @media(max-width: 1199px){
      bottom: -8px;
    }
  }
  &__info {
    width: 49%;
    height: 100%;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
    position: relative;
    z-index: 2;

    @media(max-width: 1199px){
      width: 100%;
      padding-top: 10px;
      padding-bottom: 180px;
    }
    @media(max-width: 991px){

    }
    @media(max-width: 767px){

    }
  }

  &__text {
    position: relative;
    padding: 10px 50px;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 40px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 37px;
      height: 25px;
      background-image: url(../img/quotes.png);
      background-repeat: no-repeat;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 38px;
      height: 26px;
      background-image: url(../img/quotes-2.png);
      background-repeat: no-repeat;
    }
  }
  &__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .button:first-child {
      margin-right: 20px;
    }
    .button {
      margin-bottom: 20px;
    }
  }
  &__video {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-64%);
    font-size: 16px;
    color: #f0edea;
    font-weight: 600;

    @media(max-width: 1199px){
      bottom: 3px;
      transform: translateX(-50%);
    }
  }

}

.video-button {
  cursor: pointer;

  &:hover .video-button__icon {
    opacity: 0.9;
  }

  &__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
  }
  &__title {

    @media(max-width: 1199px){
      display: none;
    }
  }
}

.bar {
  min-height: 95px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: relative;
  top: -7px;
  z-index: 2;
  font-size: 14px;
  flex-wrap: wrap;

  span {
    font-weight: 500;
  }

  &__img {
    margin-right: 16px;
  }
  &__item {
    margin-left: 10px;
    margin-right: 10px;

    @media(max-width: 991px) {
      width: calc(40% - 20px);
      margin-top: 15px;
      margin-bottom: 15px;
    }
    @media(max-width: 767px) {
      width: calc(100% - 20px);
      justify-content: center;
    }
  }

  @media(max-width: 991px) {
    justify-content: center;
  }
}

.services {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service {
  max-width: 515px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 90px;
  margin-right: 10px;
  margin-left: 10px;

  p {
    margin-top: 0;
  }
  &__info {

    @media(max-width: 767px) {
      text-align: center;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 10px;
  }
  &__img {
    margin-top: 5px;
    margin-right: 27px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #26c4cc;
    padding: 5px;
    width: 116px;
    height: 116px;
    margin-bottom: 20px;

    img {
      height: 100%;
      object-fit: contain;
      display: block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }

    @media(max-width: 767px) {
      margin-right: 0;
    }
  }
  &__footer {
    padding-top: 4px;

    @media(max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__old-price {
    color: #868686;
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  &__price {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media(max-width: 767px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
}

.content-img {
  width: 246px;
  flex: 0 0 246px;
  height: 239px;
  margin-right: 77px;
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.check-mark {
  width: 33.33%;
  min-width: 215px;
  margin-top: 35px;
  padding-right: 30px;
  display: flex;
  align-items: flex-start;

  p {
    max-width: 200px;
    margin-top: 0;
  }

  img {
    margin-right: 10px;
  }
}

.img-bg {
  position: relative;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 15px;
    left: 15px;
    background: #bddedf;
    box-shadow: 0px 0px 50px 0px rgba(50, 50, 50, 0.3);
    border-radius: 5px;
    z-index: -1;
  }
}

.section-reviews {
  background: #fafafa;
  padding-top: 35px;

  @media(max-width: 500px) {
    display: none;
  }
}

.section-information {
  position: relative;
  background: #fafafa;
  padding-top: 40px;

  h2 {
    margin-bottom: 50px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;

    @media(max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__photo-container {
    width: 361px;
    max-width: 100%;
    position: relative;
    padding: 15px 11px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  }

  &__photo {
    width: 339px;
    height: 376px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
  }
  &__text {
    position: absolute;
    bottom: 25px;
    right: 0;
    width: calc(100% - 40px);
    padding: 14px 25px;
    background: #26c4cc;
    color: #ffffff;
    font-size: 18px;

    &:after {
      content: '';
      position: absolute;
      top: -9px;
      right: 0;
      background-image: url(../img/corner.svg);
      width: 11px;
      height: 9px;
    }
  }

}

.section-purchase {
  margin-bottom: 60px;

  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin-top: 0;
  }

  &__content {
    display: flex;
    align-content: flex-start;
    padding-top: 5px;
    margin-bottom: 66px;

    @media(max-width: 767px) {
      flex-direction: column;
    }
  }
}

.reviews {
  max-width: 960px;
  margin: 0 auto;

  @media(max-width: 1199px) {
    width: 750px;
  }
  @media(max-width: 991px) {
    width: calc(100% - 200px);
  }
  @media(max-width: 767px) {
    width: calc(100% - 200px);
  }
}

.review {
  display: flex !important;
  justify-content: center;
  align-items: flex-start;
  margin-right: 10px;
  margin-left: 10px;

  h4 {
    margin: 0;
  }
  &__photo-3 {
    position: relative;
    width: 246px;
    height: 339px;

    img {
      height: 100%;
      max-width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }

  }
  &__photo {
    position: relative;
    border-radius: 10px;
    margin-bottom: 35px;
    flex: 0 0 106px;
    height: 204px;

    img {
      height: 100%;
      max-width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }

    &:after {
      content: '';
      border-radius: 10px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      position: absolute;
      top: 10px;
      left: 11px;
      background: transparent;
      border: 3px solid #26c4cc;
      z-index: -1;
    }

    @media(max-width: 767px) {
      display: none;
    }
  }
  &__photo-2 {
    @media(max-width: 767px) {
      justify-content: center;
      display: flex;
    }
  }
  &__left {
    flex: 1 1 720px;
    padding-top: 23px;
  }
  &__text {
    font-size: 14px;
    border-radius: 10px;
    background: #ffffff;
    padding: 23px 30px;
    box-shadow: 0px 0px 30px 0px rgba(83, 83, 83, 0.09);
    margin-bottom: 20px;
    width: 580px;
    position: relative;
    line-height: 1.4;

    &:after {
      content: '';
      position: absolute;
      bottom: -22px;
      right: -10px;
      background-image: url(../img/quotation-mark.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 50px;
      height: 50px;

      @media(max-width: 767px) {
        right: 0;
      }
    }

    @media(max-width: 1199px) {
      width: 360px;
    }
    @media(max-width: 991px) {
      width: calc(100% - 130px);
    }
    @media(max-width: 767px) {
      width: calc(100%);
      margin-bottom: 30px;
    }
  }

  @media(max-width: 1199px) {

  }
  @media(max-width: 991px) {
    flex-wrap: wrap;
  }
}

.map {
  width: calc(100% - 400px);
  height: 410px;

  @media(max-width: 767px) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.section-licenzies {
  padding-top: 40px;
  padding-bottom: 90px;
  background: #fafafa;
}

.licenze {
  cursor: pointer;
}

.arrow {
  width: 68px;
  height: 68px;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  &:hover {
    opacity: 0.9;
  }

  &--prev {
    left: -100px;
  }
  &--next {
    right: -100px;
  }
}

.error-box {
  position: absolute;
  top: 42px;
  left: 0;
  color: #cc0000;
  display: none;
}

.modal-container {
  display: none;
}

.modal-form {
  max-width: 400px;
  min-height: 200px;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  overflow: visible;
}

.modal-form p {
  max-width: 90%;
  margin: 10px auto 25px;
}

.modal-form__inner {
  background: #f0f8f8;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.modal-form .button-container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem;
}

.modal-form .form {
  margin-right: 0;
  margin-left: 0;
}

.modal-form .button {
  min-width: 212px;
  padding: 18px 36px;
}

@media (max-width: 767px) {
  .modal-form {
    width: calc(100% - 60px);
  }
}

.fancybox-close-small {
  background: white;
  border-radius: 50%;
  top: -30px !important;
  right: -30px !important;
  opacity: 1;
  width: 60px;
  height: 60px;
}

.success {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}

.success.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: -15px;
  margin-left: -15px;
}

.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 991px) {
  .form__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.form__footer {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 4rem;
}

.form__inputs {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  width: calc(30% - 30px);
  margin-right: 15px;
  margin-left: 15px;
}

@media (max-width: 991px) {
  .form__inputs {
    width: calc(100% - 30px);
  }
}

.form__textarea {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 70%;
  flex: 1 1 70%;
  width: calc(70% - 30px);
  margin-right: 15px;
  margin-left: 15px;
}

@media (max-width: 991px) {
  .form__textarea {
    width: calc(100% - 30px);
    margin-bottom: 30px;
  }
}

.form__submit {
  display: none;
}

.form__title {
  font-family: 'Lora';
  margin-top: 0;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  margin-bottom: 2rem;
  padding: 10px 20px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-size: 14px;
  outline: none;
  height: 45px;
}

.textarea {
  width: 100%;
  padding: 0.5rem;
  background: #ffffff;
  border: 0.1rem dotted #ffbe00;
  border-radius: 0.5rem;
  font-size: 2rem;
  height: calc(100% - 20px);
  resize: none;
  outline: none;
}