<div class="footer__inner grid flex flex--sb flex--aic">
    //= logo.html
    <div class="footer__nav">
        //= menu.html
    </div>
    <div class="footer__contacts">
        //= contacts.html
    </div>
</div>