<div class="header__inner grid flex flex--sb flex--aic">
    //= logo.html
    <div class="header__nav">
        //= menu.html
    </div>
    <div class="header__contacts">
        //= contacts.html
    </div>
</div>