<nav class="nav flex flex--w flex--jcc">
    <div class="nav__item"><a class="js-anchor" href="#services">Услуги</a></div>
    <div class="nav__item"><a class="js-anchor" href="#reviews">Отзывы</a></div>
    <div class="nav__item"><a class="js-anchor" href="#">Цены</a></div>
    <div class="nav__item"><a class="js-anchor" href="#information">Информация</a></div>
</nav>