@mixin font-face($font-name, $font-family, $font-weight, $font-style: normal) {
    @font-face {
        font-family: $font-family;
        src: url('../fonts/' + $font-family + '.ttf');
    }
    .#{$font-name} {
        font-family: $font-family;
        font-weight: $font-weight;
        font-style: $font-style;
    }
}